@import 'ember-power-select/themes/material';

@import 'ember-paper';

@import "ember-power-select";


.employeeBlock{
  padding: 5%;
  padding-top: 20px;
  background-color: #f1f5f8;
}
.employee{
  background-color: white;
  text-align: center;
  padding: 1%;
  width:230px;
}
.cardWrapper{
  width: 280px;
}
.cardWrapper:hover {
  opacity: .7;
}
.cardWrapper .noCursor:hover{
  opacity: 1 ;
}
.noBgColor{
  background-color: #f1f5f8;
}
.noShadow{
  box-shadow: none;
  -webkit-box-shadow: none;
}
.employee p{
  text-align: center;
  line-height: 7px;
}
.employee:hover{
  opacity:.7;
}
.cardWrapper:hover .hoverStatus{
  background-color: #00adff;
}
.picWrapper{
  width: 130px;
  height: 130px;
  margin: 0 auto;
  padding-top: 5%;
}
.profilPic{
  height: 130px;
  width: 130px;
  border-radius: 50%;
}
.fullNale{
 margin-bottom: .5em;
}
.role{
line-height: 25px;
}
.mobileNo{
line-height: 25px;
}

.hoverStatus{
  height: 4px;
}
.totalemployee{
  text-align: center;
  width: 230px;
  padding: 2%;
}
.button{
  background:#37C271 !important;
  border-radius: 5px !important;
  padding-right: 5% !important;
  padding-left: 5% !important;
  color:white !important;
  text-transform: none !important;
}
.edit{
  margin-left: 0;
  margin-top: 3%;
  background: #24a3ff !important;
}
.addButton{
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
}
.margin-left-8{
  margin-left: 8%;
}
.margin-right-8{
  margin-right: 8%;
}
.margin-top-5{
  margin-top: 5%;
}
.fixed{
  position: fixed !important;
}
.circle{
  border-style: solid;
  border-color: grey;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-left: 30%;
  margin-bottom: 13%;
}
.centerAling{
  text-align: center;
}
.toolbar{
  color: #5f68ff !important;
}
.whiteBg{
  background-color: white !important;
}
.toolbar h2{
  font-size: 14px !important;
  margin-right: 3% !important;
}
.toolbar .img-1{
  width: 40px;
  float: right;
  border-radius: 50%;
  margin-right: 2%;
}
.toolbar .img-2{
  width: 40px;
  float: right;
  border-radius: 50%;
  margin-right: 2%;
}
.toolbar .img-3{
  width: 40px;
  float: right;
  border-radius: 50%;
  margin-right: 2%;
}
.gray{
  color: grey;
}
.grainsBg{
  background-color: #f1f5f8 !important;
}
.shortList
{
  border-radius: 5px;
  border-style: solid;
  border-color:#d8d8d8;
  text-align: center;
  border-width: 2px;
  padding: 3px;
}
.shortList .firstName{
  font-size: 14px;
  color: gray
}
.toolbarBar{
  height: 3px;
  background-color: #d8d8d8;
}.activeState{
   height: 3px;
   background-color: #00adff;
   margin-left: 1%;
 }
 .body{
   background-color: #f1f5f8;
 }
 .margin-right-15{
   margin-right: 15%;
 }
 .margin-left-15{
   margin-left:15%;
 }
 .margin-1{
   margin: 1%;
 }
 .shadow{
   height: 300px;
   background-color: #4a657d;
   z-index: -1;
 }
 .content{
   margin-top: -18%;
 }
 .white{
   color: white;
 }
 .detailPic{
   height: 280px;
   width: 260px;
 }
 .general-detail{
   margin-left: 10px;
 }
 .contact-logo{
   width: 25px;
   height: 25px;
   margin-top: 5px;
   margin-right: 10px;
 }
 .card-media{
   height: 130px;
 }
.calender-logo {
  width: 15px;
  height:15px;
  margin-right: 5px;
  margin-left: 5px;
}
.no-underline{
  text-decoration: none;
}
  .info-card{
    padding: 15px;
    min-width: 300px;
  }
  .info-card-g{
    padding: 15px;
    min-width: 200px;
  }
  .info-card .contact{
    line-height: 0 ;
  }
  .info-card .email{
    margin-left: 15%;
    color: #00adff;
  }
  .info-card .mobileNo{
    margin-left: 13%;
    color:#00adff;
  }
  .info-card .social-logo{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 3%;
  }.info-card .noBgColor{
     height: 2px;
     margin-bottom: 2%;
   }
  .skill{
    border-style: solid;
    border-radius: 33%;
    border-width: 3px;
    border-color: #dcdcdc;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
  }
  .skill span{
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .info-card p{
    line-height: 0.5;
  }.whiteBg p {
     line-height: 0;
   }
  .team-logo{
    width: 20px;
    height: 20px;
    margin-top: 3%;
    margin-right: 4%;
  }
  .buisness-info h2 , h3{
    line-height: 0;
  }
  .noMargin{
    margin: 0;
  }
  .location-logo{
    width: 20px;
    height:20px;
    margin-right: 5px;
  }
  .reporting{
    margin-right: 5px;
    font-size: 15px;
    margin-top: 0;
  }
  .my-input-h{
    height:20px;
    margin: 0;
  }
  .my-input-span{
    height:35px;
    margin: 0;

  }

  #span-p{
    margin-top: -13px;
    margin-bottom: 25px;
  }
  .ember-power-select-trigger{
    min-height: 25px;
    background-color: transparent;
    height: 20px;
    border-color: #41596e;
    padding: 0;
  }
  .my-input-p{
    height:20px;
    margin: 0;
    margin-top: -17px;
  }.white-border{
       border-color: white;
     }
   #file-field{
     background-color: white;
   }
   .input-white .md-input{
     color: white !important;

   }



