
{{!-- Card for displyaing Employee --}}
{{#link-to 'detail' employee.id class="no-underline"}}
<div class=" cardWrapper">
{{#paper-card class="" as |card|}}
  <div class = "hoverStatus"></div>
  {{#card.content class="layout-row centerAling"}}
    {{#card.media size="xl" }}
      <div class="card-media">
        <img class="profilPic" src={{employee.profilePic}}
          alt="Image/s/not/s/available" >
      </div>
      <p class="fullNale">{{employee.name}}</p>
      <span class="role">{{employee.employeeRole.name}} </span><br>
      <span class = "mobileNo" >{{employee.mobileNo}}</span>
    {{/card.media}}
  {{/card.content}}
{{/paper-card}}
</div>
{{/link-to}}