{{#paper-toolbar class="whiteBg toolbar" }}
  {{#paper-toolbar-tools}}
    <h2>Urban Wonder Studio</h2>
    <h2> Directory</h2>
    <h2 class="gray"> Org chat</h2>
    <h2 class="gray"> out of Office</h2>
    <h2 class="gray"> Add on</h2>
    <h2 class="gray"> Admin </h2>
    <div class="flex-30"></div>
    <img src="/assets/images/search_logo.jpg"
         class="img-1">
    <img src="/assets/images/info.png"
         class="img-2">
    <img src="/assets/images/nobody_logo.jpg"
         class="img-3">
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}