{{#paper-toolbar class="whiteBg toolbar" }}
  {{#paper-toolbar-tools}}
    <h2>Urban Wonder Studio</h2>
    <h2> Directory</h2>
    <h2 class="gray"> Org chat</h2>
    <h2 class="gray"> out of Office</h2>
    <h2 class="gray"> Add on</h2>
    <h2 class="gray"> Admin </h2>
    <div class="flex-30"></div>
    <img src="https://t3.ftcdn.net/jpg/01/15/86/74/240_F_115867417_zYcMbYMsMp337eABaxGNNteN6PIIyxTo.jpg"
         class="img-1">
    <img src="https://www.shareicon.net/download/2016/08/18/809295_info_512x512.png"
         class="img-2">
    <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
         class="img-3">
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}